html , body{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin:0px;
    padding:0px;
}
.top-header{
    background-color: whitesmoke;
    padding: 20px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 10;
}
.type-into{
    margin: auto;
    max-width: 900px;
    padding-top: 85px;
    padding-bottom: 20px;
    width: 400px;
}
.menu-item{
    background-color: aquamarine;
    color: black;
    padding: 10px;
    display:inline-block;
    text-decoration: none;
    position: fixed;
    z-index: 10;
}
.head-so{
    background-color: hsl(142, 52%, 96%);
    color: hsl(0, 0%, 29%);
}
.output{
    padding: 30px;
    background-color: rgb(250, 250, 250);
    max-width: 1200px;
    margin:auto;
}
.head-table{
    padding: 10px;
    width: 200px;
}
.mytable{
    border-collapse: collapse;
    padding:20px;
    text-align: center;
}
.mytable th,
.mytable td{
    border:2px solid black;
    padding: 8px;
}
.task{
    max-width: 500px;
    width: 12%;
    height: 10px;
    text-align: center;
}
